extends layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    
block content
    main
        if prods.length > 0
            .grid 
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://static.scientificamerican.com/sciam/cache/file/1DDFE633-2B85-468D-B28D05ADAE7D1AD8_source.jpg?w=900", alt="Books")
                        div.card__content
                            h2.product__price $19.99
                            p.product__description A nice book 
                        .card__actions
                            button.btn Add to Car
        else 
            h1 No products